[submodule "submodules/sdk"]
	path = submodules/sdk
	url = git@github.com:StraussDarman07/StreamdeckSDKCSharp.git
[submodule "submodules/git"]
	path = submodules/git
	url = git@github.com:libgit2/libgit2sharp.git
